.custom-btn {
    padding: 6px 15px;
    background-color: #fff;
    border: 2px solid #d3bde9;
    cursor: pointer;
}

.btn-link {
    text-decoration: none;
    transition: .7s all ease;
    color: #000;
}

.btn-link:hover {
    color: #a98dc1;
}

.back-btn {
    background-color: #FFF;
    border: none;
    font-size: 18px;
}

.icon {
    font-size: 18px;
    margin: 0 0 0 10px;
}