.custom-btn {
    padding: 6px 15px;
    background-color: #fff;
    border: 2px solid #d3bde9;
    cursor: pointer;
}

.course-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.btn-link {
    text-decoration: none;
    transition: .7s all ease;
    color: #000;
}

.btn-link:hover {
    color: #a98dc1;
}